[Desktop Entry]
Name=Sink
Comment=Sink file backup/sync application
Exec=sink
Icon=sink
Terminal=false
Type=Application
StartupNotify=false
Categories=System;
